{% extends 'header_base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
    /* home.css */
    .email-container {
        display: flex;
        margin: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f8f8f8;
    }

    .section-header {
        font-size: 1.2em;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .form-section {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .left-section, .right-section {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        flex: 1;
    }

    .left-section {
        flex: 0 0 30%; /* his sets the left section to 30% of the container width */

    }

    .right-section {
        flex: 1; /* This allows the right section to take up the remaining space */
    }

    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    label {
        font-weight: bold;
        margin-right: 10px;
        white-space: nowrap; /* This will prevent labels from wrapping */
    }

    input[type="text"], input[type="email"], select {
        flex-grow: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #template-preview {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
        height: auto; /* Adjust height based on content */
        max-height: 500px;
        overflow-y: auto; /* Allows scrolling inside the preview if content exceeds max height */
        flex-grow: 0; /* Prevents it from growing more than content size */
    }

    button {
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    .small-container {
        max-width: 300px;
    }


    .dynamic-fields-content div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .dynamic-fields-content label {
        font-weight: bold;
        margin-right: 10px;
        white-space: nowrap;
    }

    .dynamic-fields-content input[type="text"] {
        flex-grow: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .email-log {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
        display: none; /* Initially hidden */
    }

    .bubble-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        margin: 20px;
        grid-auto-rows: minmax(100px, auto);
    }

    .bubble {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #eef;
        transition: all 0.3s ease-in-out; /* Optional: for smooth transition */
    }

    .bubble-header {
        cursor: pointer;
        font-weight: bold;
    }

    .bubble-content {
        display: none; /* Initially hidden */
        margin-top: 10px;
    }

    .bubble-expanded {
        grid-column: 1 / -1; /* Span the bubble across all columns */
        transition: all 0.3s ease-in-out;
    }

    .bubble-content-expanded {
        display: block; /* Show content when expanded */
    }

    .bubble-overview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .email-templator-container {
        display: flex;
        align-items: center;
    }

    .email-templator-text {
        margin-right: 10px;
    }

    .quick-action-button {
        padding: 5px 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        align-self: flex-start;
    }

    .quick-action-button:hover {
        background-color: #218838;
    }

</style>
<div class="bubble-container">
    <div class="bubble" id="quick-tools">
        <div class="bubble-header" onclick="toggleBubble('quick-tools')">Quick Tools</div>
        <div class="bubble-overview">
            <div class="email-templator-container">
                <span class="email-templator-text">Email Templator</span>
                {% csrf_token %}
                <button onclick="sendEmail(true)" class="quick-action-button">Send Email</button>
            </div>
        </div>
        <div class="bubble-content">
            <!-- Your existing email templator and other tools here -->
            <div class="email-container">
                <div class="form-section">
                    <div class="left-section">
                        <div class="section-header">Email Templator</div>
                        <!-- Checkbox for toggling visibility of additional options -->
                        <div class="form-group toggle-options">
                            <input type="checkbox" id="hide-options" name="hide-options" checked>
                            <label for="hide-options">Hide Options</label>
                        </div>
                        <div class="form-group select-template">
                            <label for="email-template">Select Template:</label>
                            <select id="email-template" onchange="updateTemplateAndSubject()">
                                <option value="1" selected>Email Template 1</option>
                                <option value="2">Email Template 2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email-subject">Email Subject:</label>
                            <input type="text" id="email-subject" value="Escalation Email">
                        </div>
                        <div class="form-group">
                            <label for="email-to">To:</label>
                            <input type="email" id="email-to" value="patelv2895@gmail.com" placeholder="Recipient's email">
                        </div>
                        <div class="form-group">
                            <label for="email-from">From:</label>
                            <input type="email" id="email-from" value="patelv2895@gmail.com" placeholder="Your email">
                        </div>
                        <div class="form-group">
                            <label for="email-cc">CC:</label>
                            <input type="email" id="email-cc" placeholder="CC email">
                        </div>
                        <div id="dynamic-fields-container">
                            <div class="dynamic-fields-content"></div>
                        </div>
                    </div>
                    <div class="right-section">
                        <div id="template-preview" contenteditable="true"></div>
                    </div>
                </div>
            </div>    
            <!-- Checkbox for toggling the visibility of the email log -->
            <div class="form-group toggle-log">
                <input type="checkbox" id="toggle-email-log" name="toggle-email-log">
                <label for="toggle-email-log">Show Latest Email Log</label>
            </div>
            {% if latest_email_log %}
            <div class="email-log">
                <h3>Latest Email Sent</h3>
                <p><strong>Subject:</strong> {{ latest_email_log.subject }}</p>
                <p><strong>To:</strong> {{ latest_email_log.to_email }}</p>
                <p><strong>From:</strong> {{ latest_email_log.from_email }}</p>
                <p><strong>CC:</strong> {{ latest_email_log.cc_email }}</p>
                <p><strong>Body:</strong> {{ latest_email_log.body | safe }}</p>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Additional Bubbles -->
    <div class="bubble" id="temp-name-1">
        <div class="bubble-header" onclick="toggleBubble('temp-name-1')">Temp Name 1</div>
        <div class="bubble-content">
            <p><strong>Testing bubble 1</strong></p>
        </div>
    </div>

    <!-- Additional Bubbles -->
    <div class="bubble" id="temp-name-2">
        <div class="bubble-header" onclick="toggleBubble('temp-name-2')">Temp Name 2</div>
        <div class="bubble-content">
            <p><strong>Testing bubble 2</strong></p>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // Utility Functions
    function getCSRF(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Initialization and State Management
    var initialBubbleOrder = [];
    function storeInitialBubbleOrder() {
        var allBubbles = document.querySelectorAll('.bubble');
        initialBubbleOrder = Array.from(allBubbles).map(bubble => bubble.id);
    }

    function restoreInitialBubbleOrder() {
        var bubbleContainer = document.querySelector('.bubble-container');
        initialBubbleOrder.forEach(bubbleId => {
            var bubble = document.getElementById(bubbleId);
            bubbleContainer.appendChild(bubble);
        });
    }

    // Interactive Elements and Event Handlers
    function toggleBubble(bubbleId) {
        var allBubbles = document.querySelectorAll('.bubble');
        var bubbleContainer = document.querySelector('.bubble-container');
        var bubble = document.getElementById(bubbleId);

        // Restore initial order before any toggling
        restoreInitialBubbleOrder();

        // Remove 'expanded' class from all bubbles except the clicked one
        allBubbles.forEach(function(bubble) {
            if (bubble.id !== bubbleId) {
                bubble.classList.remove('bubble-expanded');
                bubble.querySelector('.bubble-content').classList.remove('bubble-content-expanded');
            }
        });

        // Toggle the 'expanded' class on the clicked bubble
        bubble.classList.toggle('bubble-expanded');
        bubble.querySelector('.bubble-content').classList.toggle('bubble-content-expanded');

        // If the bubble is now expanded, move it to the first position
        if (bubble.classList.contains('bubble-expanded')) {
            bubbleContainer.insertBefore(bubble, bubbleContainer.firstChild);
        }
    }

    function toggleEmailLogVisibility() {
        var isLogVisible = document.getElementById('toggle-email-log').checked;
        var emailLog = document.querySelector('.email-log');
        if (emailLog) {
            emailLog.style.display = isLogVisible ? 'block' : 'none';
        }
    }

    function toggleFormVisibility() {
        var isHidden = document.getElementById('hide-options').checked;
        var formElementsToHide = document.querySelectorAll('.left-section .form-group:not(.toggle-options):not(.select-template)');
        var dynamicFields = document.getElementById('dynamic-fields-container');
        var templatePreview = document.getElementById('template-preview');

        // Show or hide elements based on the checkbox state
        formElementsToHide.forEach(function(el) {
            el.style.display = isHidden ? 'none' : 'flex';
        });
        dynamicFields.style.display = isHidden ? 'none' : 'block';
        templatePreview.style.display = isHidden ? 'none' : 'block';
    }

    // Template and Email Handling Functions
    function updateTemplateAndSubject() {
        var templateId = document.getElementById("email-template").value;
        var subject = templateId === "1" ? "Subject 1" : "Subject 2";
        document.getElementById("email-subject").value = subject;

        fetch(`/get_template_content/${templateId}`)
            .then(response => response.json())
            .then(data => {
                if (data.content) {
                    // Replace placeholders with empty strings or default values
                    let templateContent = data.content.replace(/\{\{(\w+)\}\}/g, function(match, p1){
                        return '';
                    });
                    document.getElementById("template-preview").innerHTML = templateContent;
                    generateInputFields(data.content);
                } else {
                    alert('Template not found');
                }
            })
            .catch(error => {
                alert('Error fetching template: ' + error);
            });
    }

    function generateInputFields(templateContent) {
        // Example regex to find placeholders with double brackets
        const placeholderRegex = /\{\{(\w+)\}\}/g;
        let match;
        let dynamicFieldsContent = document.querySelector('.dynamic-fields-content');
        dynamicFieldsContent.innerHTML = ''; // Clear previous fields

        while ((match = placeholderRegex.exec(templateContent)) !== null) {
            let inputField = createInputField(match[1]);
            dynamicFieldsContent.appendChild(inputField);
        }
    }

    function createInputField(fieldName) {
        let container = document.createElement('div');
        let label = document.createElement('label');
        label.innerHTML = fieldName.charAt(0).toUpperCase() + fieldName.slice(1);
        let input = document.createElement('input');
        input.type = 'text';
        input.id = fieldName;
        input.name = fieldName;

        input.addEventListener('input', updatePreview);

        container.appendChild(label);
        container.appendChild(input);

        return container;
    }

    function sendEmail() {
        var templateId = document.getElementById("email-template").value;
        var subject = document.getElementById("email-subject").value;
        var toEmail = document.getElementById("email-to").value;
        var fromEmail = document.getElementById("email-from").value;
        var ccEmail = document.getElementById("email-cc").value;
        var templateContent = document.getElementById("template-preview").innerHTML;

        $.ajax({
            url: '/send_email/',
            type: 'post',
            headers: {'X-CSRFToken': getCSRF('csrftoken')},
            data: JSON.stringify({
                'subject': subject,
                'template_id': templateId,
                'template_content': templateContent,
                'to_email': toEmail,
                'from_email': fromEmail,
                'cc_email': ccEmail,
                'dynamic_fields': getDynamicFieldValues()
            }),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function(data) {
                alert(data.message);
            },
            error: function(xhr, errmsg, err) {
                alert('Failed to send email: ' + xhr.status + ": " + xhr.responseText);
            }
        });
    }

    function getDynamicFieldValues() {
        var dynamicFields = document.querySelectorAll('.dynamic-fields-content input[type="text"]');
        var fieldValues = {};

        dynamicFields.forEach(function(field) {
            fieldValues[field.id] = field.value;
        });

        return fieldValues;
    }

    function updatePreview() {
        const dynamicFields = getDynamicFieldValues();
        let templateContent = `
            <table style="width: 100%; border-collapse: collapse;">
                <colgroup>
                    <col style="width: 30%;"> <!-- Adjust the percentage as needed -->
                    <col style="width: 70%;"> <!-- This will take the remaining width -->
                </colgroup>
                <tr>
                    <td style="border: 1px solid black; padding: 5px;">Ticket Number:</td>
                    <td style="border: 1px solid black; padding: 5px;">${dynamicFields.Ticket_Number || ''}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px;">Contact Name:</td>
                    <td style="border: 1px solid black; padding: 5px;">${dynamicFields.Contact_Name || ''}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px;">Contact Number:</td>
                    <td style="border: 1px solid black; padding: 5px;">${dynamicFields.Contact_Number || ''}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px;">Contact Location:</td>
                    <td style="border: 1px solid black; padding: 5px;">${dynamicFields.Contact_Location || ''}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px;">Contact working hours:</td>
                    <td style="border: 1px solid black; padding: 5px;">N/A</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px;">Alternate Contact Number:</td>
                    <td style="border: 1px solid black; padding: 5px;">N/A</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px;">Application Affected:</td>
                    <td style="border: 1px solid black; padding: 5px;">${dynamicFields.Application_Affected || ''}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 5px;">Description of Problem:</td>
                    <td style="border: 1px solid black; padding: 5px;">${dynamicFields.Description_Of_Problem || ''}</td>
                </tr>
            </table>
        `;

        document.getElementById('template-preview').innerHTML = templateContent;
    }

    // Event Listeners
    document.getElementById('toggle-email-log').addEventListener('change', toggleEmailLogVisibility);
    document.getElementById('hide-options').addEventListener('change', toggleFormVisibility);

    // Initialization on Document Ready
    document.addEventListener('DOMContentLoaded', function() {
        storeInitialBubbleOrder();
        updateTemplateAndSubject();
        updatePreview();
        toggleFormVisibility();
    }, false);
</script>

{% endblock %}